
<style>
    button {
      background-color: #4CAF50; /* Vert */
      border-radius: 8px;
      color: white;
      padding: 15px 32px;
      text-align: center;
      text-decoration: none;
      display: inline-block;
      font-size: 16px;
      margin-left: 30px;
      margin-top: 20px ;
      margin-bottom: 50px;
    }

    button:active {
      background-color: #3e8e41;
      box-shadow: 0 5px #666;
      transform: translateY(4px);
    }

    button:hover{
          background-color: #3e8e41;
          color: white ;
    }

    h2{
        margin-top: 10px;
        text-align: center;
      
    }
    h3{
      text-align: center;
    }

    p{
          text-align: left;
    }

    blockquote{
          text-align: center;
    }
    div{
          background-color: #DDDD;
    }

    label{
      margin-left: 30px;
    }

    textarea{
      width: 900px;
    }
</style>
<div>
<h2>Créez un article</h2>
  <form id="formCreation" #formCreation="ngForm" [formGroup]="articleForm"  #formCreation = "ngForm">
   <div class="form-group">
      <label class="center-block">Titre:
        <input id="titre" class="form-control" formControlName="title" [(ngModel)]="newArticle.title" required>
      </label>
      <br />
      <label class="center-block">Description:
        <textarea id="content" class="form-control" formControlName="content" [(ngModel)]="newArticle.content" required ></textarea>
      </label>
      <br />
      <label class="center-block">Auteur:
        <input id="author" class="form-control" formControlName="authors" [(ngModel)]="newArticle.authors" required>
      </label>
      <br />
      <button type="button" id="submit" (click)="CreateArticle(formCreation)">Créer</button>
    </div>
  </form>
</div>
